body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
.top-level-view {
  width: 80%;
  margin: 10px auto;
}
